@charset "utf-8";
div
{
    border: 3px solid black;
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: yellow;
}
div.two
{
    display: inline-block;
    line-height: 20px;
    overflow: hidden;
}

div.three
{
    display: inline-block;
    overflow:scroll;
}
