@charset "utf-8";

div[class="row"]
{
    margin: auto;
    display: flex;
}
div[class*="col"]
{
    padding: 15px;
    border: 1px solid red;
    background-color: lightskyblue;
    margin: 3px 0 1px 0;
}